/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin: 0;
}

/* Estilo para el contenedor principal */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

/* Estilo para el contenedor de productos */
.producto {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 30%;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.producto p {
    font-size: 14px;
    color: #666;
}

/* Estilo para el botón "Añadir al carrito" */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para el carrito de compras */
.carrito {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#carrito {
    list-style: none;
    padding: 0;
}

#carrito li {
    margin: 5px 0;
}

#total {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
}

.comprar-carrito {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

.comprar-carrito:hover {
    background-color: #1f7922;
}

/* Estilos para hacer la página responsive */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .producto {
        width: 100%;
    }
}

/* Estilos para mejorar la apariencia de los productos y carrito */
.producto {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.producto img {
    max-width: 100%;
}

#carrito {
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
}

#total {
    text-align: right;
}

/* Estilos para botones de eliminar y cantidad en el carrito */
.eliminar {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
}